.button {
  width: 70px;
  height: 70px;
  animation: floating 2s infinite ease-in-out;
  border-radius: 50px;
  background-color: $blue-point;
  box-shadow: 5px 5px 15px 0 rgb(151 151 151 / 20%);
  color: white;
  line-height: 18px;
  word-break: keep-all;
  @include font-style('text4');
  @include mobile {
    width: 56px;
    height: 56px;
    font-size: 12px;
    line-height: 16px;
  }
}

@keyframes floating {
  0%,
  100% {
    transform: translateY(0); // Start and end position
  }

  50% {
    transform: translateY(-10px); // Peak position
  }
}
