.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  color: $white;
  pointer-events: none;

  .heroWrapper {
    @include flexbox(column, center, center);

    width: 100%;
    height: 100%;

    .heroTitle {
      /* display: flex, overflow: hidden이 있어야 애니메이션이 자연스럽습니다. */
      display: flex;
      overflow: hidden;
      font-size: 32px;
      font-weight: 500;

      @include tablet {
        font-size: 20px;
      }
    }
  }
}
