.wrap {
  position: relative;
  width: 380px;
  height: 350px;
  overflow: hidden;
  border-radius: 20px;
  background-color: $primary1;

  @include tablet {
    width: 100%;
    min-width: 300px;
    max-width: 388px;
    height: 350px;
    margin: 0 auto;
  }
  @include mobile {
    width: 100%;
    max-width: 280px;
    height: 248px;
    min-width: 100%;
  }
}

.img {
  object-fit: cover;
}

.editBtn {
  position: absolute;
  top: 14px;
  right: 9px;
}
