.wrap {
  position: relative;
  width: 380px;
  height: 350px;
  overflow: hidden;
  border-radius: 20px;
  background-color: $primary1;

  @include tablet {
    width: 100%;
    min-width: 300px;
    height: 350px;
    margin: 0 auto;
  }
  @include mobile {
    width: 100%;
    min-width: 100%;
    max-width: 280px;
    height: 248px;
  }
}

.img {
  object-fit: cover;
}

.character {
  height: 100%;
  @include float-animation;

  animation: float 4s ease-in-out infinite;
}

.editBtn {
  position: absolute;
  top: 14px;
  right: 9px;
}

.nickname {
  position: absolute;
  right: 0;
  bottom: 30px;
  left: 0;
  text-align: center;
  @include tablet {
    bottom: 25px;
  }
  @include mobile {
    bottom: 13px;
  }
}
