.wrap {
  position: relative;
  width: 380px;
  height: 340px;
  overflow: hidden;
  border-radius: 20px;
  background-color: $primary1;

  @include tablet {
    width: 100%;
    max-width: 388px;
    height: 288px;
    margin: 0 auto;
  }
  @include mobile {
    width: 100%;
    max-width: 280px;
    height: 248px;
  }
}

.img {
  object-fit: cover;
}
