.wrap {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: 0 65px;

  @include tablet {
    gap: 30px;
  }
  @include mobile {
    margin: 0;
    gap: 27px;
  }
}

.manuBar {
  position: relative;
  width: 100%;
}

.resetBtn {
  position: absolute;
  top: 50%;
  right: -41px;
  @include mobile {
    right: 0;
    bottom: 0;
  }

  transform: translateY(-50%);
}

.btn {
  width: 388px;

  @include mobile {
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
  }
}
