.wrap {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  gap: 24px;
  margin-bottom: 80px;

  @include tablet {
    gap: 30px;
    margin-bottom: 0;
  }
}

.btn {
  width: 388px;

  @include tablet {
    margin: 0 auto;
  }
  @include mobile {
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
  }
}

.resetBtn {
  position: absolute;
  top: 0;
  right: 0;
  margin: auto;
  transform: translateY(25%);
}
