.wrap {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  margin: 0 65px;

  @include tablet {
    gap: 30px;
    margin: 0 auto;
  }
  @include mobile {
    gap: 27px;
  }
}

.content {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  gap: 24px;

  @include tablet {
    gap: 30px;
  }
}

.btn {
  width: 388px;
  margin-bottom: 25px;

  @include tablet {
    margin: 0 auto;
  }
  @include mobile {
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
  }
}

.resetBtn {
  position: absolute;
  top: 0;
  right: 0;
  margin: auto;
  transform: translateY(25%);
}
