.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 1080px;
  padding: 44px 50px 25px;
  transform: translate(-50%, -50%);
  border: 1px solid $white;
  border-radius: 20px;
  background-color: $white;

  @include tablet {
    width: 100%;
    height: 100%;
  }

  @include mobile {
    height: 100%;
    padding: 34px 14px;
  }
}

.contentContainer {
  max-height: 90%;
  overflow: scroll;
  @include mobile {
    max-height: 100%;
  }
}

.header {
  @include flexbox(row, space-between, center);

  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;

  @include mobile {
    margin-bottom: 15px;
  }
}

.title {
  @include font-style('text3');
  @include mobile {
    @include font-style('button2');
  }
}

.contents {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  gap: 30px;

  @include mobile {
    gap: 20px;
  }
}
