.modal {
  width: 1080px;
  margin: 106px auto 0;
  padding: 44px 50px 25px;
  border: 1px solid black;
  border-radius: 20px;

  @include tablet {
    max-width: 100%;
    padding: 68px 74px;
  }

  @include mobile {
    padding: 34px 14px;
  }
}

.header {
  @include flexbox(row, space-between, center);

  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;

  @include mobile {
    margin-bottom: 15px;
  }
}

.title {
  @include font-style('text3');
  @include mobile {
    @include font-style('button2');
  }
}

.contents {
  width: 100%;

  @include flexbox(row, center, center);

  margin: 0 auto;
  gap: 30px;

  @include tablet {
    @include flexbox(column, center, center);

    gap: 29px;
  }

  @include mobile {
    gap: 20px;
  }
}
