.modalOpen {
  overflow: hidden;
}

.modalRoot {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: rgba($grey, 0.5);
}

.modalPortal {
  width: 100%;
  height: 100%;
  @include flexbox(column, center, center)
}
