.imgWrapper {
  position: fixed;
  z-index: 3;
  top: 30%;
  left: 30%;
  width: 600px;
  height: 600px;
  transition: opacity 0.5s ease;
  opacity: 0;
  pointer-events: none;
  aspect-ratio: 1 / 1;
  @include flexbox(row, center, center);

  &.isView {
    transition: opacity 0.5s ease;
    opacity: 1;
  }

  .imgContainer {
    width: 100%;
    height: 100%;
    @include flexbox(row, center, center);

    color: white;
  }
}
