.wrapper {
  &::before {
    content: '';
    position: fixed;
    z-index: 0;
    opacity: 0.4;
    background: radial-gradient(
      circle farthest-side at var(--x, 100px) var(--y, 100px),
      #808080 0%,
      transparent 100%
    );
    pointer-events: none;
    inset: 0;
  }
}
