.titleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 900px;
  padding-left: 64px;
  gap: 32px;

  .title {
    width: 100%;
    transition: color 1s ease;
    color: $black;
    font-size: 32px;
    font-weight: 500;

    &.currentColor {
      color: $blue-point;
    }
  }

  .text {
    width: 100%;
    color: grey;
  }
}
