.cardWrapper {
  @include flexbox(row, center, center);

  position: absolute;
  width: 500px;
  height: 500px;
  transition: all 0.5s ease;
  border-radius: 20px;
  opacity: 0;
  color: white;
  font-size: 32px;

  &.isInView {
    opacity: 1;
  }

  &.orange {
    background-color: #fabd01;
  }

  &.red {
    background-color: #e8080b;
  }

  &.blue {
    background-color: #2a47a9;
  }

  &.yellow {
    background-color: #ffe812;
  }

  &.pink {
    background-color: #d07e97;
  }

  &.green {
    background-color: #208122;
  }

  &.purple {
    background-color: #9747ff;
  }
}
