.editBtn {
  width: 64px;
  height: 35px;
  border: none;
  border-radius: 10px;
  background-color: $light-grey;
  cursor: pointer;
  @include mobile {
    width: 30px;
    height: 30px;
    background-color: transparent;
  }
}

.editBtn > img {
  vertical-align: bottom;
  @include mobile {
    width: 18px;
    height: 18px;
  }
}

.editBtn:hover {
  filter: brightness(0.95);
}
