.button {
  width: fit-content;
  height: fit-content;
  padding: 6px 15px;
  border-radius: 10px;
  letter-spacing: 0.5px;
  line-height: 24px;
  cursor: pointer;
  @include font-style('button1');

  &.active {
    border: 1px solid $black;
    background-color: $black;
    color: $white;
  }

  &.deactive {
    border: 1px solid $grey;
    background-color: $white;
    color: $black;
  }

  @include mobile {
    padding: 4px 12px;
    @include font-style('button5');
  }
}
