.circleBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: $blue-point;
  @include font-style('button5');
  @include mobile {
    @include font-style('button6');
  }

  box-shadow: 5px 5px 8px rgb(0 0 0 / 20%);
}

.sm {
  width: 50px;
  height: 50px;
  @include mobile {
    width: 38px;
    height: 38px;
  }
}

.md {
  width: 60px;
  height: 60px;
  @include mobile {
    width: 52px;
    height: 52px;
  }
}

.lg {
  width: 70px;
  height: 70px;
  @include mobile {
    width: 56px;
    height: 56px;
  }
}

.blank {
  border: 1.5px solid $black;
  background-color: $white;
}

.facebook {
  background-color: #1877f2;
}

.kakao {
  background-color: #ffe812;
}

.instagram {
  background-color: #f00073;
}

.link {
  background-color: $black;
}

.share {
  border-color: $blue-point;
  color: $blue-point;
}

.facebookImg,
.kakaoImg,
.instagramImg,
.linkImg {
  @include mobile {
    width: 16.89px;
    height: 16.89px;
  }
}
