.inputWrapper {
  width: 100%;
}

.inputTextField {
  width: 100%;
  margin: 0;
  border: 0;
  border-bottom: 1px solid $dark-grey;
  outline: none;
  background-color: inherit;
  @include font-style('button1');
}

.large {
  @include font-style('text3');

  letter-spacing: 0.5px;
  line-height: 24px; /* 141.176% */
}

.medium {
  @include font-style('text4');

  letter-spacing: -0.3px;
  line-height: 27px; /* 192.857% */
}

.small {
  @include font-style('text5');
}
