.inputWrapper {
  position: relative;
  width: 100%;
  padding: 6px 0;
}

.inputTextField {
  width: 100%;
  margin: 0;
  border: 0;
  border-bottom: 1px solid $dark-grey;
  outline: none;
  background-color: inherit;
  @include font-style('button1');
}

.errorInfoText {
  @include font-style('button6');

  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 18px;
  transform: rotate(33deg);
  transform-origin: top left;
  color: red;

  @include mobile {
    bottom: 15px;
    font-size: 8px;
  }
}

.img {
  object-fit: cover;
  position: fixed;
}

.large {
  @include font-style('text3');

  letter-spacing: 0.5px;
  line-height: 24px; /* 141.176% */
}

.medium {
  @include font-style('text4');

  letter-spacing: -0.3px;
  line-height: 27px; /* 192.857% */
}

.small {
  @include font-style('text5');
}
