.simpleLayout {
  margin: 0 auto;
}

.contentsWrapper {
  max-width: 1180px;
  margin: 0 auto;
  @include tablet {
    padding: 0 25px;
  }
}

.titleWrapper {
  @include flexbox(row, space-between, center);

  margin-top: 30px;
  @include tablet {
    margin-top: 20px;
  }
  @include mobile {
    margin-top: 10px;
    @include flexbox(column, space-between, inherit);
  }
}

.title {
  @include font-style('h2');
  @include mobile {
    @include font-style('button2');

    margin-top: 23px;

    &.hasBtn {
      margin-top: 17px;
    }
  }
}

.button {
  order: 1;
  margin-left: auto;
  @include mobile {
    order: 0;
  }
}
