.layout {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  align-items: center;
  justify-content: center;
}

.formContent {
  position: relative;
  height: 100%;

  @include tablet {
    display: flex;
    flex-direction: column;
    gap: 29px;
  }

  @include mobile {
    gap: 20px;
  }
}
