.card {
  width: 100%;
  padding: 20px 25px;
  border-radius: 20px;
  background-color: $light-grey;
  @include font-style('button1');

  @include mobile {
    padding: 15px;
    border-radius: 10px;
    @include font-style('text5');
  }
}

.manualInput {
  display: inline-block;
  width: 70%;
}

.manualInput {
  display: inline-block;
  width: 80%;

  @include tablet {
    width: 70%;
  }
}
