.listWrap {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  gap: 24px;
  @include tablet {
    gap: 26px;
    width: 388px;
    margin: 0 auto;
  }
  @include mobile {
    gap: 14px;
    width: 280px;
    margin: 0 auto;
  }
}
