.manualBox {
  width: 890px;
  margin: 0 auto;

  @include tablet {
    max-width: 100%;
  }
}

.typeBtns {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.typeBtn {
  @include flexbox(row, center, center);

  width: 63px;
  height: 36px;
  border-radius: 7.52px 7.52px 0 0;
}

.typeBtnSelected {
  border: 1px solid $black;
  border-bottom: 1px solid $white;
}

.typeBtnUnselected {
  border: 1px solid $grey;
  color: $grey;
}

.manual {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 500px;
  padding: 30px 35px;
  border: 1px solid $black;
  border-radius: 0 0 15px 15px;
  gap: 20px;

  @include tablet {
    padding: 23px 27px;
  }

  @include mobile {
    padding: 25px 20px;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 35px;
  font-size: 18px;
  font-weight: 400;
}

.answers {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: auto;
}

.form {
  height: 100%;
}
