.copyToast {
  position: fixed;
  z-index: 100;
  top: 80px;
  right: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  color: $white;
  gap: 5px;

  p {
    margin: 0;
  }

  &.success {
    animation: toast-in-out 5s ease;
    border: 1px solid #569fff;
    opacity: 0;
    background-color: #5da3ff;
  }

  &.error {
    animation: toast-in 1s ease;
    border: 1px solid rgb(255 70 70);
    background-color: rgb(255 86 86);
  }

  .close {
    filter: invert(100%);
    position: absolute;
    top: 7px;
    right: 7px;
    cursor: pointer;
  }

  .check,
  .error {
    filter: invert(100%);
  }

  .left {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  @include tablet {
    top: 120px;
  }

  @include mobile {
    top: 110px;
  }

  @include flexbox(column, center, flex-start);

  @keyframes toast-in-out {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }

    20% {
      transform: translateX(0%);
      opacity: 1;
    }

    40% {
      transform: translateX(0%);
      opacity: 1;
    }

    100% {
      transform: translateX(0%);
      opacity: 0;
    }
  }

  @keyframes toast-in {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }

    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }
}

.heading {
  @include font-style('button4');
  @include mobile {
    @include font-style('button6');

    font-weight: 400;
  }
}

.content {
  @include font-style('button6');
  @include mobile {
    font-size: 11px;
  }
}
