.button {
  width: 70px;
  height: 70px;
  @include float-animation;

  animation: float 4s ease-in-out infinite;
  border-radius: 50px;
  background-color: $blue-point;
  box-shadow: 5px 5px 15px 0 rgb(151 151 151 / 20%);
  color: white;
  line-height: 18px;
  word-break: keep-all;
  @include font-style('text4');
  @include mobile {
    width: 48px;
    height: 48px;
    font-size: 11px;
    font-weight: 300;
    line-height: 14px;
  }
}
