.formBoxWrapper {
  width: 520px;
  height: 100%;

  @include tablet {
    width: 100%;
    height: fit-content;
  }

  @include mobile {
    width: 100%;
    height: fit-content;
  }
}

.titleWrapper,
.itemWrapper {
  width: 100%;
  overflow: hidden;
  border: 1px solid $black;
  @include mobile {
    width: 100%;
  }
}

.titleWrapper {
  @include flexbox(row, center, center);

  position: relative;
  height: 69px;
  padding: 0 30px;
  border-radius: 20px 20px 0 0;
  @include mobile {
    height: 57px;
    padding: 0 22px;
  }
}

.itemWrapper {
  border-top: none;
  border-radius: 0 0 20px 20px;

  @include tablet {
    padding: 25px 66px;
  }
  @include mobile {
    padding: 10px 22px 24px;
  }
}

.backBtn {
  @include flexbox(row, center, center);

  position: absolute;
  top: 15px;
  left: 18px;
  @include mobile {
    top: 13px;
    left: 12px;
  }
}

.title {
  margin: auto;
  font-size: 24px;
  @include mobile {
    font-size: 18px;
  }
}
