.reset {
  position: absolute;
  top: 0;
  right: 0;
}

.form {
  position: relative;
  width: 388px;
  @include flexbox(column, space-between, inherit);
  @include tablet {
    width: 100%;
  }

  h3 {
    @include font-style('h2');
    @include tablet {
      @include font-style('text3');
    }
    @include mobile {
      @include font-style('text4');
    }
  }

  li {
    margin-bottom: 10px;
    line-height: 30px;
    @include mobile {
      @include font-style('text5');
    }
  }

  input {
    width: 193px;
    text-align: center;
    @include mobile {
      @include font-style('text4');
    }
  }

  .btn {
    margin-bottom: 25px;
    @include tablet {
      margin-bottom: 0;
    }
  }

  .content1 > h3 {
    margin-bottom: 10px;
  }

  .content1 > input {
    margin-bottom: 30px;
    @include mobile {
      width: 88px;
    }
  }

  .content2 > h3 {
    margin-bottom: 30px;
    @include tablet {
      margin-bottom: 20px;
    }
    @include mobile {
      margin-bottom: 16px;
    }
  }

  .content2 > input {
    @include mobile {
      width: 125px;
    }
  }

  .error {
    @include font-style('text5');

    color: $skyblue-point;
  }
}
