.signInWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: linear-gradient(to right top, #006ed4, #005ec5, #003dac);

  .imageContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 68px;
    gap: 10px;

    @include mobile {
      gap: 60px;
    }

    .titleImageContainer {
      position: relative;
      width: 340px;
      height: 288px;

      @include mobile {
        width: 200px;
        height: 170px;
      }

      .titleImage {
        @include mobile {
          width: 200px;
          height: 170px;
        }
      }

      .batLeftTopImage {
        position: absolute;
        top: -20px;
        left: -140px;

        @include mobile {
          left: -70px;
          width: 80px;
          height: 60px;
        }
      }

      .batLeftBottomImage {
        position: absolute;
        bottom: -40px;
        left: -80px;

        @include mobile {
          bottom: -50px;
          left: -40px;
          width: 80px;
          height: 60px;
        }
      }

      .batRightMiddleImage {
        position: absolute;
        top: 50%;
        right: -120px;

        @include mobile {
          right: -70px;
          width: 80px;
          height: 60px;
        }
      }

      .ghostLeftMiddleImage {
        position: absolute;
        top: 50%;
        left: -120px;

        @include mobile {
          left: -60px;
          width: 50px;
          height: 50px;
        }
      }

      .ghostRightBottomImage {
        position: absolute;
        right: -30px;
        bottom: 0;

        @include mobile {
          bottom: -30px;
          width: 40px;
          height: 40px;
        }
      }
    }

    .signInText {
      color: $white;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.5px;
      line-height: 24px;
      text-align: center;
    }
  }

  .socialContainer {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding-top: 35px;
    padding-bottom: 35px;
    gap: 40px;

    @include tablet {
      padding-top: 30px;
      padding-bottom: 58px;
      gap: 25px;
    }

    .kakaoImage,
    .googleImage,
    .githubImage {
      width: 32px;
      height: 32px;
    }
  }

  .ourStoryButtonContainer {
    position: absolute;
    top: 50%;
    right: 124px;

    @include tablet {
      display: flex;
      position: relative;
      top: 0;
      right: 0;
      align-items: center;
      justify-content: center;
    }

    .ourStoryButton {
      display: block;
      position: relative;
      z-index: 1;
      width: 68px;
      height: 68px;

      @include tablet {
        width: 53px;
        height: 53px;
        transform: translate(240px, -11.5px);
      }

      .clickText {
        position: absolute;
        top: -20px;
        left: -10px;
        transform: rotate(-10deg);
        color: $white;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.376px;
        line-height: 18.025px; /* 128.75% */
        text-align: center;
      }

      .ourStoryButtonImage {
        @include tablet {
          width: 53px;
          height: 53px;
        }
      }
    }

    .explainText {
      display: flex;
      position: absolute;
      right: 30px;
      bottom: 0;
      align-items: center;
      justify-content: center;
      width: 250px;
      height: 30px;
      padding-right: 30px;
      border-radius: 7px;
      background: $white;
      color: $blue-point;
      font-size: 16px;
      letter-spacing: 0.376px;
      line-height: 18.038px; /* 128.842% */
      text-align: center;

      @include tablet {
        position: relative;
      }
    }
  }

  .castleImageContainer {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 160px;

    .castleImage {
      position: absolute;
      bottom: -80%;

      @include tablet {
        bottom: -100%;
      }
    }
  }
}
