.manualTitle {
  @include font-style('h2');

  margin-bottom: 20px;
  @include tablet {
    @include font-style('text3');

    margin-bottom: 15px;
  }
  @include mobile {
    @include font-style('text4');
  }
}

.manualItem {
  margin-bottom: 12px;

  @include font-style('text3');

  @include tablet {
    @include font-style('text4');
  }
  @include mobile {
    @include font-style('text5');
  }
}

.input {
  width: 201px;
  margin-bottom: 27px;
}

.list {
  @include mobile {
    width: 272px;
  }
}
