// color palette
$primary1: #FBFAF7;
$primary2: #F6F4EF;
$black: #000000;
$white: #FFFFFF;
$greyText: #B8B8B8;
$dartGrey: #787878;
$lightGrey: #F3F3F3;
$brightGrey: #FDFDFD;
$bluePoint: #0052BD;
$whaleBlue: #486284;