// color palette
$primary1: #fbfaf7;
$primary2: #f6f4ef;
$black: #000;
$white: #fff;
$grey: #b8b8b8;
$dark-grey: #787878;
$light-grey: #f3f3f3;
$bright-grey: #fdfdfd;
$blue-point: #0052bd;
$whale-blue: #486284;
